
h3{
    color: red;
    background-color: yellow;
}
#tieude-1{
    color: blue;
    background-color: green;
} 
#tieude-2{
    color: white;
    background-color:yellow;
}
div.wed4{
    color: black;
    background-color: pink;
}